Provider Profile</br>

<ul>
  <li>ID: <%= @provider.id %></li>
  <li>Name: <%= @provider.name %></li>
  <li>Email: <%= @provider.email %></li>
  <li>Phone: <%= @provider.phone %></li>
  <li>Zip: <%= @provider.zip_code %></li>
  <li>Specialty: <%= @provider.specialty.name %></li>
</ul>
