<% content_for :body_class, "front-of-house" %>

<div class="solo-form">

  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.input :email, placeholder: "Your email address.", label: false %>
    <%= f.input :password, placeholder: "Password.", label: false %>
    <%= f.input :password_confirmation, placeholder: "Password confirmation.", label: false %>
    <%= f.button :submit, "Sign up" %>
  <% end %>

  <div class="other-actions">
    <%= render "devise/shared/links" %>
  </div>

</div>
