<%= simple_form_for(@calendar_event, remote: true, html: {role: :form, 'data-model' => 'calendar_event'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :calendar_event_type_id, value: @calendar_event.calendar_event_type_id %>
    <%= f.input :starts_at_date %>
    <%= f.input :starts_at_time %>
    <%= f.input :ends_at_date %>
    <%= f.input :ends_at_time %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
