
<%= simple_form_for(@calendar_event) do |f| %>
  <%= f.association :calendar_event_type %>
  <div class="form-inputs">
    <div class="input-group">
      <div class="input">
        <%= f.input_field :starts_at_date, label: false %>
      </div>
      <div class="input">
        <%= f.input_field :starts_at_time, label: false %>
      </div> 
    </div>
    <div class="to">
      to
    </div>
    <div class="input-group">
      <div class="input">
        <%= f.input_field :ends_at_date, label: false %>
      </div>
      <div class="input">
        <%= f.input_field :ends_at_time, label: false %>
      </div>
    </div>
  </div>
  <%= f.button :submit, "Save" %>
<% end %>

