<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @calendar_event.user %>
</p>

<p>
  <strong>Type:</strong>
  <%= @calendar_event.type %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @calendar_event.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @calendar_event.ends_at %>
</p>

<%= link_to 'Edit', edit_calendar_event_path(@calendar_event) %> |
<%= link_to 'Back', calendar_events_path %>
