<div class="solo-form">
  <h2>Welcome!</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= f.input :email, placeholder: 'Your email address.', label: false %>
    <%= f.input :password, placeholder: 'Your password.', label: false %>
    <%= f.button :submit, "Sign in" %>
  <% end %>

  <div class="other-actions">
    <%= render "devise/shared/links" %>
  </div>
</div>
